
.delete-buttons{
    color: red;
    background: none;
}
.edit-buttons{
  
        color: green;
        background: none;

}

.delete-button-all{
    transform: translateY(2px);
}
.add-buttons{
    transform: translateY(2px);
   
    /* color: green; */
    background: none;
    

}
.add-buttons:hover {
    color: black;
    background: none;
}
.delete-buttons:hover, .edit-buttons:hover, .delete-button-all:hover{
    color: black;
    background: none;
    transform: translateY(3px);
}
.nav-link  {
    color:white;
}

